/* Design System */

:root {
    --pure-white: #fff;
    --red: #fc4747;
    --dark-blue: #10141e;
    --greyish-blue: #5a698f;
    --semi-dark-blue: #161d2f;
    --heading-l: 32px;
    --heading-m: 24px;
    --heading-s: 24px;
    --heading-xs: 18px;
    --body-m: 15px;
    --body-s: 13px;
}

body {
    max-width: 1440px;
    margin-inline: auto;
}

.pure-white {
    color: var(--pure-white);
}

.red {
    color: var(--red);
}

.dark-blue {
    color: var(--dark-blue);
}

.greyish-blue {
    color: var(--greyish-blue);
}

.semi-dark-blue {
    color: var(--semi-dark-blue);
}

.bg-pure-white {
    background-color: var(--pure-white);
}

.bg-red {
    background-color: var(--red);
}

.bg-dark-blue {
    background-color: var(--dark-blue);
}

.bg-greyish-blue {
    background-color: var(--greyish-blue);
}

.bg-semi-dark-blue {
    background-color: var(--semi-dark-blue);
}

.heading-l {
    font-size: var(--heading-l);
    letter-spacing: -0.5px;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
}

.heading-m {
    font-size: var(--heading-m);
    font-family: "Outfit", sans-serif;
    font-weight: 300;
}

.heading-s {
    font-size: var(--heading-s);
    font-family: "Outfit", sans-serif;
    font-weight: 500;    
}

.heading-xs {
    font-size: var(--heading-xs);
    font-family: "Outfit", sans-serif;
    font-weight: 500;    
}

.body-m {
    font-size: var(--body-m);
    font-family: "Outfit", sans-serif;
    font-weight: 300;    
}

.body-s {
    font-size: var(--body-s);
    font-family: "Outfit", sans-serif;
    font-weight: 300;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* end of design system */

/* utility classes */
.mt-24 {
    margin-top: 24px;
}

.mt-36 {
    margin-top: 36px;
}

.mt-48 {
    margin-top: 48px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-36 {
    margin-bottom: 36px;
}

.mb-48 {
    margin-bottom: 48px;
}

/* pure css */
/* panel */

.panel {
    display: flex;
    width: 96px;
    flex-direction: column;
    height: calc(100vh-64px);
    top: 32px;
    bottom: 32px;
    left: 32px;
    position: fixed;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
}

.logo {
    width: 32px;
    /* margin-top: 35px;
    margin-bottom: 75px; */
}

.nav {
    display: flex;
    width: 20px;
    gap: 40px;
    flex-direction: column;
}

.nav-icon {
    fill: #5A698F;
}

.nav-icon-active {
    fill: #fff;
}

.nav a:hover .nav-icon {
    fill: var(--red);
}

.profile {
    width: 40px;
    height: 40px;
    /* margin-bottom: 32px; */
    border: 1px solid #fff;
    border-radius: 20px;
}
/* container */
.container {
    margin-inline: 36px;
    margin-left: 168px;
    margin-top: 64px;
    margin-bottom: 4rem;
}

.search {
    display: flex;
    align-items: center;
    height: 32px;
}

.search-input {
    margin-left: 24px;
    outline: none;
    border: none;
    width: 100%;
    padding: 18px 0;
    border-bottom: 1px solid var(--dark-blue);
    caret-color: var(--red);
    cursor: pointer;
}

.search-input:focus {
    border-bottom: 1px solid var(--greyish-blue);
}

/* trending */

.trending-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    height: 240px;
    overflow-x: scroll;
}

.trending-list:hover {
    overflow-x: scroll;
}

.trending-item {
    position: relative;
    cursor: pointer;
}

.item-img {
    width: 470px;
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
}

.item-bookmark {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 24px;
    border-radius: 16px;
    opacity: 0.5;
}

.item-bookmark:hover, .item-bookmark-active {
    opacity: 1;
    filter: invert(1);
}

.item-info {
    height: 100px;
    background-image: linear-gradient(rgba(0,0,0,0%), rgba(0,0,0,75%));
    position: absolute;
    top: 130px;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 24px;
    padding-top: 24px;
}

.info-top {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 3px;
}

.dot {
    height: 3px;
    width: 3px;
    border-radius: 1.5px;
    background-color: var(--pure-white);
}

.play {
    height: 48px;
    align-items: center;
    flex-direction: row;
    background-color: rgba(0,0,0,0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    padding: 9px;
    justify-content: space-between;
    display: none;
}

.trending-item:hover .play, .rec-rel-img:hover .play {
    display: flex;
}

.play-icon {
    height: 30px;
    width: 30px;
}

.play-text {
    margin-inline: 12px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--greyish-blue);
}


::-webkit-scrollbar-track {
    background-color: var(--dark-blue);
}

/* recList */
.rec-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}
.rec-item-info {
    margin-top: 8px;
}

.rec-rel-img {
    position: relative;
    cursor: pointer;
}

.rec-item-box {
    right: 16px;
}

.rec-item-img {
    object-fit: cover;
    height: 174px;
    width: 280px;
    border-radius: 8px;
}

/* For Tablets */
@media screen and (max-width: 768px) {
    .panel {
        position: sticky;
        z-index: 10;
        flex-direction: row;
        height: 72px;
        width: 100%;
        justify-content: space-between;
        border-radius: 10px;
        padding: 0;
        padding-left: 24px;
        padding-right: 24px;
    }
    .nav {
        flex-direction: row;
        width: auto;
        height: 20px;
    }
    .wrapper {
        margin-inline: 1.5rem;
    }
    .container {
        margin: 4rem 0;
    }
    .profile {
        height: 32px;
        width:32px;
    }
    .tablet-body-s {
        font-size: var(--body-s);
    }
    .tablet-heading-xs {
        font-size: var(--heading-xs);
    }
    .rec-item-img {
        width: 220px;
        height: 140px;
    }
    .rec-list {
        gap: 16px;
    }
}

@media screen and (max-width: 576px) {
    .wrapper {
        margin: 0;
    }
    .panel {
        border-radius: 0;
        top: 0;
        height: 56px;
    }
    .container {
        margin: 2rem 1rem;
    }
    .profile {
        height: 24px;
        width: 24px;
    }
    .logo {
        width: auto;
        height: 20px;
    }
    .nav {
        height: 16px;
    }
    .mobile-font-size {
        font-size: 16px;
    }
    .search {
        height: 24px;
    }
    .mobile-heading-l {
        font-size: 20px;
        font-weight: 300;
        letter-spacing: -0.31px;
    }
    .item-img {
        height: 140px;
        width: 240px;
    }
    .item-info {
        height: 70px;
        top: 70px;
    }
    .trending-list {
        height: 155px;
    }
    .mobile-body-m {
        font-size: 12px;
        font-size: 300;
    }
    .mobile-heading-s {
        font-size: 15px;
        font-weight: 500;
    }
    .item-bookmark {
        top: 8px;
        right: 8px;
    }
    .trending-item:hover .play, .rec-rel-img:hover .play {
        display: none;
    }
    .rec-item-img {
        height: 110px;
        width: 164px;
    }
    .mobile-body-s {
        color: rgba(255,255,255,.75);
        font-size: 11px;
        font-weight: 300;
    }
    .mobile-heading-xs {
        font-size: 14px;
        font-weight: 500;
    }

}